.imagenBienvenida{
    text-align: center;
    width: 100%;
    background-color: blue;
}
footer{
    text-align: center;
    margin-bottom: 2px;
}
.copyright{
    font-size: 1rem;
    display: inline-block;
}

.redes{
    margin-left: 10px;
    position: fixed;
    top: 40%;
    background-color: rgb(24, 24, 24);
    width: 25px;
}
.redes li{
    list-style: none;
    padding: 4px;
}